<html data-namespace-typo3-fluid="true" xmlns:g="http://typo3.org/ns/TYPO3/CMS/Grid/ViewHelpers">
<div class="t3-content-element t3js-content-element t3js-content-element-sortable
        {f:if(condition: '!{visible}', then: ' t3-content-element-hidden')}
        {f:if(condition: '{errors}', then: ' t3-content-element-danger')}
        {f:if(condition: '{warnings}', then: ' t3-content-element-warning')}"
     data-uid="{record}">
    <div class="t3-content-element-drag-item">
        <div class="t3-content-element-header t3-content-element-header-draggable t3js-content-element-drag-handle">
            <div class="t3-content-element-header-icons-left">
                {g:record.icon(table: '{table}', row: '{data}', contextMenu: 1, toolTip: 1, size: 'small') -> f:format.raw()}
                <f:if condition="{flag}">
                    {g:icon(identifier: '{flag}', size: 'small')}
                </f:if>
            </div>
            <div class="t3-content-element-header-icons-right">
                <div class="btn-toolbar">
                    <div class="btn-group btn-group-sm" role="group">
                        <f:for each="{actions}" as="action">
                            <f:if condition="{action.icon}">
                                <g:record.action action="{action}" class="btn btn-default btn-sm" title="{action.title}">
                                    {g:icon(identifier: action.icon, size: 'small')}
                                </g:record.action>
                            </f:if>
                        </f:for>
                    </div>
                </div>
            </div>
        </div>
        <div class="t3-content-element-body">
            <div class="t3-content-element-body-inner">
                <div>
                    {content -> f:format.raw()}
                </div>
            </div>
            <div class="t3-content-element-footer">
                <div class="t3-content-element-info">
                    <div>
                        {footer -> f:format.raw()}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
