<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{steps.presets} && {steps.positions}">
    <f:then>
        <div class="t3-grid-content-creation-wizard-container t3js-grid-content-creation-wizard-container carousel slide"
             data-url="{url}" data-parameters="{parameters -> f:format.json()}" data-ride="carousel" data-interval="false">
            <div class="carousel-inner" role="listbox">
                <div class="item active" data-slide="next">
                    <div class="t3-grid-content-creation-wizard-title">
                        <h2>{f:translate(key: 'LLL:EXT:lang/Resources/Private/Language/locallang_misc.xlf:1_selectType')}</h2>
                    </div>
                    <div class="t3-grid-content-creation-wizard-body">
                        {steps.presets -> f:format.raw()}
                    </div>
                </div>
                <div class="item">
                    <div class="t3-grid-content-creation-wizard-title">
                        <h2>{f:translate(key: 'LLL:EXT:lang/Resources/Private/Language/locallang_misc.xlf:2_selectPosition')}</h2>
                    </div>
                    <div class="t3-grid-content-creation-wizard-body">
                        {steps.positions -> f:format.raw()}
                    </div>
                </div>
            </div>
        </div>
    </f:then>
    <f:else if="{steps.presets}">
        <div class="t3-grid-content-creation-wizard-container t3js-grid-content-creation-wizard-container" data-url="{url}" data-parameters="{parameters -> f:format.json()}">
            {steps.presets -> f:format.raw()}
        </div>
    </f:else>
</f:if>
</html>