<html data-namespace-typo3-fluid="true" xmlns:g="http://typo3.org/ns/TYPO3/CMS/Grid/ViewHelpers">
<div class="media">
    <div class="t3-content-wizard-preset-icon media-left">
        <g:tag name="a" additionalAttributes="{href: '#content-wizard-container'}" data="{data}">
            {g:icon(identifier: '{preset.iconIdentifier}')}
        </g:tag>
    </div>
    <div class="t3-content-wizard-preset-body media-body">
        <g:tag name="a" additionalAttributes="{href: '#content-wizard-container'}" data="{data}">
            <strong>{preset.title}</strong>
            <br />
            {preset.description}
        </g:tag>
    </div>
</div>
</html>