<html data-namespace-typo3-fluid="true" xmlns:g="http://typo3.org/ns/TYPO3/CMS/Grid/ViewHelpers">
<div class="t3-content-container t3js-content-container" data-tca="{tca -> f:format.json()}" data-language="{language.uid}" data-uid="{uid}" data-pid="{pid}">
    <table class="t3-content-areas t3-grid-table t3js-content-area">
        <colgroup>
            <f:for each="{columns}" as="column">
                <col style="width: {column}%"></col>
            </f:for>
        </colgroup>
        <f:for each="{rows}" as="row">
            <tr>
                <f:for each="{row}" as="cell">
                    <td valign="top"
                        rowspan="{cell.row.end - cell.row.start + 1}"
                        colspan="{cell.column.end - cell.column.start + 1}"
                        data-uid="{cell.uid}"
                        class="t3js-backend-layout-column t3-content-area{f:if(condition: '!{cell.assigned}', then: ' t3-content-area-unassigned')}{f:if(condition: '{cell.restricted}', then: ' t3-content-area-restricted')}">
                        <f:render partial="Area" arguments="{items: cell.items, title: cell.title, actions: cell.actions, language: language}" />
                    </td>
                </f:for>
            </tr>
        </f:for>
        <f:if condition="{unused -> f:count()} > 0">
            <tr>
                <td class="t3-content-area">
                    <f:render partial="Area" arguments="{items: unused, title: '{f:translate(key: \'LLL:EXT:frontend/Resources/Private/Language/locallang_ttc.xlf:colPos.I.unused\')}', class: ' t3-content-area-padded-header t3-content-area-header-warning'}" />
                </td>
            </tr>
        </f:if>
    </table>
    <f:if condition="{hidden -> f:count()} > 0">
        <f:render partial="Action" section="ShowHiddenContent" arguments="{count: '{hidden -> f:count()}', checked: settings.showHiddenContent}" />
    </f:if>
</div>
</html>