<html data-namespace-typo3-fluid="true" xmlns:g="http://typo3.org/ns/TYPO3/CMS/Grid/ViewHelpers">
<div class="t3-content-container t3js-content-container t3js-content-container" data-tca="{tca -> f:format.json()}" data-uid="{uid}" data-pid="{pid}">
    <table class="t3-grid-table t3-content-overlays">
        <tr>
            <td class="t3-content-overlay">
                <h2>{language.title}</h2>
            </td>
            <f:for each="{overlays}" as="overlay">
                <td class="t3-content-overlay">
                    <h2>{overlay.language.title}</h2>
                </td>
            </f:for>
        </tr>
        <tr>
            <td class="t3-content-overlay nowrap">
                <div class="btn-group">
                    <f:for each="{actions -> g:iterator.filter(property: 'icon', nullFilter: 1, invert: 1) -> g:iterator.sort(columns: {priority: {order: 'asc', flags: 'numeric'}})}" as="action">
                        <g:record.action action="{action}" class="btn btn-default btn-sm" title="{action.title}">
                            {g:icon(identifier: action.icon, size: 'small')}
                        </g:record.action>
                    </f:for>
                </div>
                {g:record.icon(table: tca.container.table, data: '{record}', contextMenu: 1, toolTip: 1, size: 'small') -> f:format.raw()}
                {title -> f:format.crop(maxCharacters: 20)}
            </td>
            <f:for each="{overlays}" as="overlay">
                <td class="t3-content-overlay nowrap">
                    <div class="btn-group">
                        <f:for each="{overlay.actions -> g:iterator.filter(property: 'icon', nullFilter: 1, invert: 1) -> g:iterator.sort(columns: {priority: {order: 'asc', flags: 'numeric'}})}" as="action">
                            <g:record.action action="{action}" class="btn btn-default btn-sm" title="{action.title}">
                                {g:icon(identifier: action.icon, size: 'small')}
                            </g:record.action>
                        </f:for>
                    </div>
                    {g:record.icon(table: tca.container.table, data: '{overlay.record}', contextMenu: 1, toolTip: 1, size: 'small') -> f:format.raw()}
                    {overlay.title -> f:format.crop(maxCharacters: 20)}
                </td>
            </f:for>
        </tr>
        <f:for each="{areas}" as="area">
            <tr>
                <f:if condition="{area.assigned} && !{area.restricted}">
                    <td data-uid="{area.uid}"
                        data-language="{language.uid}"
                        class="t3js-content-area t3-content-area t3-content-area-{area.uid} {f:if(condition: '!{area.assigned}', then: ' t3-content-area-unassigned')}">
                        <f:render partial="Area" arguments="{area}" />
                    </td>
                    <f:for each="{overlays}" as="overlay">
                        <td data-uid="{area.uid}"
                            data-language="{language.uid}"
                            class="t3js-content-area t3-content-area t3-content-area-{area.uid} {f:if(condition: '!{area.assigned}', then: ' t3-content-area-unassigned')}">
                            <f:render partial="Area" arguments="{overlay.areas -> g:iterator.filter(filter: area.uid, property: 'uid') -> g:iterator.first()}" />
                        </td>
                    </f:for>
                </f:if>
            </tr>
        </f:for>
        <f:if condition="{unused -> f:count()} > 0">
            <tr>
                <td class="t3-content-area">
                    <f:render partial="Area" arguments="{items: unused, title: '{f:translate(key: \'LLL:EXT:frontend/Resources/Private/Language/locallang_ttc.xlf:colPos.I.unused\')}', class: ' t3-content-area-padded-header t3-content-area-header-warning'}" />
                </td>
            </tr>
        </f:if>
    </table>
    <f:if condition="{hidden -> f:count()} > 0">
        <f:render partial="Action" section="ShowHiddenContent" arguments="{count: '{hidden -> f:count()}', checked: settings.showHiddenContent}" />
    </f:if>
</div>
</html>