<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="t3-grid-container t3js-grid-actions-container t3js-grid-drag-drop-container" data-table="{table}" data-field="{field}">
    <table class="t3-grid-areas t3-grid-table">
        <colgroup>
            <f:for each="{columns}" as="column">
                <col style="width: {column}%"></col>
            </f:for>
        </colgroup>
        <f:for each="{rows}" as="row">
            <tr>
                <f:for each="{row}" as="cell">
                    <td valign="top"
                        rowspan="{cell.row.span}"
                        colspan="{cell.column.span}"
                        class="t3-grid-area{f:if(condition: '!{cell.assigned}', then: ' t3-grid-area-unassigned')}{f:if(condition: '{cell.restricted}', then: ' t3-grid-area-restricted')}">
                        <f:render partial="Area" arguments="{uid: cell.uid, table: table, items: cell.items, title: cell.title, actions: cell.actions, assigned: cell.assigned, restricted: cell.restricted, pid: pid}" />
                    </td>
                </f:for>
            </tr>
        </f:for>
        <f:if condition="{unused -> f:count()} > 0">
            <tr>
                <td class="t3-grid-area" colspan="{columns -> f:count()}">
                    <f:render partial="Area" arguments="{items: unused, table: table, title: '{f:translate(key: \'LLL:EXT:frontend/Resources/Private/Language/locallang_ttc.xlf:colPos.I.unused\')}', class: ' t3-grid-area-padded-header t3-grid-area-header-warning', assigned: 1, restricted: 0, pid: pid}" />
                </td>
            </tr>
        </f:if>
    </table>
    <f:if condition="{hidden -> f:count()} > 0">
        <f:render partial="Action" section="ShowHiddenContent" arguments="{count: '{hidden -> f:count()}', checked: settings.showHiddenContent}" />
    </f:if>
</div>
</html>