<div xmlns:g="http://typo3.org/ns/TYPO3/CMS/Wireframe/ViewHelpers" class="t3-grid-container t3js-content-container"
     data-tca="{tca -> g:format.json.encode()}" data-uid="{uid}" data-pid="{pid}">
    <style>
        body {
            overflow: scroll !important;
        }
    </style>
    <table class="t3-backend-layout-columns t3-grid-table t3js-backend-layout-columns">
        <tr>
            <f:for each="{languages}" as="language">
                <td class="t3-page-column"><h2>{language.title}</h2></td>
            </f:for>
        </tr>
        <f:for each="{areas}" as="area">
            <tr>
                <td data-uid="{area.uid}" data-language="{language.uid}" class="t3-grid-cell t3js-backend-layout-language-column-{language.uid}
                    t3js-backend-layout-column t3-grid-cell t3-backend-layout-column t3-backend-layout-column-{area.uid}
                    {f:if(condition: '!{area.assigned}', then: ' t3-grid-cell-unassigned')}
                    {f:if(condition: '{area.restricted}', then: ' t3-grid-cell-restricted')}"
                >
                    <div class="t3-grid-area-title">
                        <div class="t3-grid-area-title-icons"></div>
                        <div class="t3-grid-area-title-label">{area.title}</div>
                    </div>
                    <div class="t3js-sortable t3js-sortable-lang t3js-sortable-lang-{language.uid} t3-backend-layout-column-body">
                        <f:render
                            section="_insertAction"
                            arguments="{url: area.actions.insert, target: '{uid}'}"
                        />
                    </div>
                    <f:for each="{area.items}" as="item">
                        <f:if condition="{item.customData.tx_grid.languageUid} == 0">
                            {item.renderData.html -> f:format.raw()}
                            <div class="t3js-sortable t3js-sortable-lang t3js-sortable-lang-{language.uid} t3-backend-layout-column-body">
                                <f:render
                                    section="_insertAction"
                                    arguments="{url: item.customData.tx_grid.actions.append, target: '-{item.vanillaUid}'}"
                                />
                            </div>
                        </f:if>
                    </f:for>
                </td>
                <f:for each="{area.overlays}" as="overlay">
                    <td data-uid="{area.uid}" data-language="{overlay.languageUid}" class="t3-grid-cell t3js-backend-layout-language-column-{overlay.languageUid}
                        t3js-backend-layout-column t3-grid-cell t3-backend-layout-column t3-backend-layout-column-{area.uid}
                        {f:if(condition: '!{area.assigned}', then: ' t3-grid-cell-unassigned')}
                        {f:if(condition: '{area.restricted}', then: ' t3-grid-cell-restricted')}"
                    >
                        <div class="t3-grid-area-title">
                            <div class="t3-grid-area-title-icons"></div>
                            <div class="t3-grid-area-title-label">{area.title}</div>
                        </div>
                        <f:for each="{overlay.items}" as="item">
                            {item.renderData.html -> f:format.raw()}
                        </f:for>
                        <f:render
                            section="_localizeAction"
                            arguments="{data: overlay.actions.localize.data}"
                        />
                    </td>
                </f:for>
            </tr>
        </f:for>
    </table>
    <f:section name="_insertAction">
        <f:if condition="{url}">
            <div class="t3js-new-content-element">
                <a href="{url -> f:format.htmlspecialchars()}" class="btn btn-default btn-sm">
                    {g:icon(identifier: 'actions-document-new', size: 'small')}
                    {f:translate(key: 'LLL:EXT:backend/Resources/Private/Language/locallang_layout.xlf:content')}
                </a>
            </div>
            <div class="t3js-content-element-drop-zone" data-target="{target}"></div>
        </f:if>
    </f:section>
    <f:section name="_localizeAction">
        <f:if condition="{data}">
            <div class="t3-page-lang-copyce">
                <input class="btn btn-default t3js-localize"
                    data-has-elements="{data.has-elements}"
                    data-allow-copy="{data.allow-copy}"
                    data-allow-translate="{data.allow-translate}"
                    data-container-table="{data.container-table}"
                    data-relationship-column="{data.relationship-column}"
                    data-area-uid="{data.area-uid}"
                    data-area-title="{data.area-title}"
                    data-container-uid="{data.container-uid}"
                    data-language-uid="{data.language-uid}"
                    value="{f:translate(key: 'LLL:EXT:backend/Resources/Private/Language/locallang_layout.xlf:newPageContent_translate')}"
                    type="button"
                />
            </div>
            <div class="t3js-content-element-drop-zone" data-target="{target}"></div>
        </f:if>
    </f:section>
</div>