.t3-grid-drag-drop-zone-active {
    border: 1px dashed #e8a33d;
    border-radius: 2px;
    background-color: #fbefdd;
    height: 26px;
    max-height: 225px;
}

.t3-grid-drag-drop-active {
    .t3js-grid-drag-drop-zone * {
        visibility: hidden;
    }
}

.t3-grid-drag-drop-item {
    &.ui-draggable-dragging {
        & > :first-child {
            opacity: 0.65;
            box-shadow: 0 1px 24px rgba(0, 0, 0, 0.5);
        }
    }
}

.t3-grid-drag-drop-zone-hover {
    border: 1px dashed #79a548;
    border-radius: 2px;
    background-color: #d1e2bd;
    margin-top: -34px !important;
    margin-bottom: -34px !important;
    padding: 46px 10px;
    z-index: 50;
    position: relative;
    opacity: 0.65;
}

.t3-grid-drag-drop-handle:hover {
    cursor: move;
}
