<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:render partial="PageLayout/Controls" section="InfoBox" arguments="{info: info}" />
<f:if condition="{form}">
    <form id="PageLayoutController" action="{form.action}" method="post">
        <h1 class="t3js-title-inlineedit">{title}</h1>
        <f:if condition="{actions.localize -> f:count()} > 0">
            <div class="form-inline form-inline-spaced">
                <div class="form-group">
                    <select class="form-control input-sm" id="translatePage" onchange="window.location.href=this.value">
                        <option disabled selected>{f:translate(key: 'LLL:EXT:backend/Resources/Private/Language/locallang_layout.xlf:new_language')}</option>
                        <f:for each="{actions.localize}" as="action">
                            <option value="{action.url}">{action.title}</option>
                        </f:for>
                    </select>
                </div>
            </div>
        </f:if>
        <f:format.raw>{form.content}</f:format.raw>
    </form>
    <f:format.raw>{form.after}</f:format.raw>
</f:if>
</html>