.t3-grid-cell {
    vertical-align: top;
}
.t3-backend-layout-columns {
    width: 100%;
}
.t3-backend-layout-column {
    min-width: 150px;
    max-width: 300px;
}
.t3-backend-layout-column > h2 {
    margin: 0;
}
.t3-grid-area-title-icons,
.t3-backend-layout-column-header-icons {
    transition: opacity 0.15s ease-in;
    opacity: 0.3;
    position: absolute;
    right: 10px;
    bottom: 5px;
}
.t3-grid-area-title,
.t3-backend-layout-column-header {
    padding: 20px 10px 5px 10px;
    margin: 0;
    position: relative;
    background: #ffffff;
    color: #999999;
    text-align: left;
    border-bottom: 1px solid #cccccc;
}
[data-uid=unused] .t3-grid-area-title,
[data-uid=unused] .t3-backend-layout-column-header {
    color: #e8a33d;
}
.t3-grid-area-title,
.t3-backend-layout-column-header a {
    position: relative;
}
.t3-grid-area-title .t3-grid-area-title-icons,
.t3-backend-layout-column-header:hover .t3-backend-layout-column-header-icons {
    opacity: 1;
}
.t3-backend-layout-column-body {
    min-height: 2em;
}
.t3-backend-layout-column-body:before,
.t3-backend-layout-column-body:after {
    content: '';
    display: block;
    margin: 10px 0 0 0;
}
.t3-backend-layout-column-body > * {
    margin: 10px;
}
.t3-content-element {
    transition: opacity 0.15s ease-in;
    margin: 10px;
}
.t3-content-action {
    margin: 10px;
}
.t3-content-element * {
    border-spacing: 0;
}
.t3-content-element .t3-content-element-body-inner {
    padding: 10px;
    word-wrap: break-word;
}
.t3-content-element .t3-content-element-header {
    transition: background 0.15s ease-in;
    padding: 5px;
    border: 1px solid #cccccc;
    border-bottom: 0;
    border-radius: 2px 2px 0 0;
    background: #eaeaea;
}
.t3-content-element .t3-content-element-header:after {
    content: "";
    display: table;
    clear: both;
}
.t3-content-element {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
tr:hover .t3-content-element a {
    text-decoration: none;
}
.t3-content-element .t3-content-element-header-icons-left {
    float: left;
}
.t3-content-element .t3-content-element-header-icons-left > a {
    display: inline-block;
    padding: 4px 4px;
}
.t3-content-element .t3-content-element-header-icons-right {
    transition: opacity 0.15s ease-in;
    opacity: 0.3;
    float: right;
}
.t3-content-element .t3-content-element-body {
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-top: 0;
    border-radius: 0 0 2px 2px;
    background-color: #ffffff;
}
.t3-content-element .t3-content-element-footer {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 11px;
    padding: 5px 10px;
    background: #fafafa;
}
.t3-content-element:hover .t3-content-element-header {
    background: #d0d0d0;
}
.t3-content-element:hover .t3-content-element-header,
.t3-content-element:hover .t3-content-element-body {
    border-color: #aaaaaa;
}
.t3-content-element:hover .t3-content-element-body {
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15);
}
.t3-content-element:hover .t3-content-element-header-icons-right {
    opacity: 1;
}
.t3-content-element-danger:hover .t3-content-element-header {
    background-color: #a32e2e;
    border-color: #a32e2e;
}
.t3-content-element-danger:hover .t3-content-element-body {
    border-color: #a32e2e;
}
.t3-content-element-danger .t3-content-element-header {
    background-color: #c83c3c;
    border-color: #c83c3c;
}
.t3-content-element-danger .t3-content-element-header:hover {
    background-color: #a32e2e;
    border-color: #a32e2e;
}
.t3-content-element-danger .t3-content-element-body {
    border-color: #c83c3c;
}
.t3-content-element-hidden {
    opacity: 0.4;
    transition: opacity 0.15s ease-in;
}
.t3-content-element-hidden:hover {
    opacity: 1.0;
}
