.t3-content-element-drop-zone {
    border: 1px dashed #e8a33d;
    border-radius: 2px;
    background-color: #fbefdd;
    height: 26px;
    margin: 10px;
    max-height: 225px;
}
.t3-content-element-drop-zone-hover {
    border: 1px dashed #79a548;
    border-radius: 2px;
    background-color: #d1e2bd;
    margin: -34px 10px -34px 10px !important;
    padding: 46px 10px;
    z-index: 50;
    position: relative;
    opacity: 0.65;
}
.t3-content-element.ui-draggable-dragging .t3-content-element-drag-item {
    opacity: 0.65;
    box-shadow: 0 1px 24px rgba(0, 0, 0, 0.5);
}
.t3-content-element.ui-draggable-handle {
    height: auto!important;
    position: relative;
}
.t3-content-element-drag-item .t3-content-element-header-draggable:hover {
    cursor: move;
}
.t3-content-element.active-drag {
    z-index: 4500;
}
.t3-is-dragged .t3-content-element-body {
    max-height: 225px;
    overflow: hidden;
}