.t3-content-wizard-window {
    background-color: #fafafa;
    padding: 0;
}

.t3-content-wizard-window .container-fluid {
    padding: 15px;
}

.t3-content-wizard-window .nav-tabs {
    padding: 15px 15px 0;
}

.t3-content-wizard-window .panel-tab {
    border: none;
    box-shadow: none;
}

.t3-content-wizard-container .t3-content-wizard-preset-select {
    display: none;
}

.t3-content-wizard-title {
    background-color: #292929;
    color: #fff;
    padding: 10px 15px;
}

.t3-content-wizard-title h2 {
    margin: 0;
}

.t3-content-wizard-title + .nav-tabs {
    padding-top: 0;
}

@media (min-width:992px) {

    .t3-content-wizard-window .panel-body {
        display: flex;
        flex-wrap: wrap;
    }

    .t3-content-wizard-window .panel-body .media {
        margin-top: 0;
        margin-bottom: 15px;
        width:50%;
    }
}