<html data-namespace-typo3-fluid="true">
<f:if condition="{infoBox.message}">
    <f:be.infobox title="{infoBox.title}">
        {infoBox.message}
    </f:be.infobox>
</f:if>
<form id="ContentElementController" action="{form.action}" method="post">
    <h1>{f:translate(key: 'LLL:EXT:lang/Resources/Private/Language/locallang_misc.xlf:newContentElement')}</h1>
    <p>{f:translate(key: 'LLL:EXT:backend/Resources/Private/Language/locallang_db_new_content_el.xlf:sel1')}</p>
    <f:format.raw>{form.content}</f:format.raw>
</form>
<f:format.raw>{form.after}</f:format.raw>
</html>